@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico");

.todo-title {
  font-family: "Pacifico", cursive;
  text-align: center;
}

.tag {
  margin: 1rem;
}

.todo-button {
  margin: 0.5rem;
}

.add-one {
  vertical-align: bottom;
  margin-left: 1rem;
}

.tasks:hover {
  background-color: rgba(12, 100, 55, 0.1);
}
